/* minimaless by qube#3925 */
* {border-radius: 4px !important; /* make everything square */
   mask: none !important; /* make it actually work */ }
/* removing elements */
.wrapper-1_HaEi, /* servers */
.sidebar-1tnWFu, /* channels */
.header-3OsQeK, /* server name */
.topic-11NuQZ, /* title bar description */
.icon-1ELUnB, /* title bar buttons */
.iconWrapper-2awDjA,
.container-YkUktl, /* user card at the bottom */
.container-2o3qEW, /* member list */
.membersWrap-3NUR2t,
.scroller-WSmht3, /* friends */
.nowPlayingColumn-1eCBCN, /* active now panel */
.container-1zzFcN, /* vc panel at the bottom */
.searchBar-3TnChZ, /* find or start a convo bar */
.unreadBottom-3Ojk6R, /* new unreads thing */
.bannerImg-2PzH6z, /* server banner */
.buttons-uaqb-5, /* text input area icons */
.attachWrapper-3slhXI,
.pro-3GwLMX[style="color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"], /* various useless text sections */
.streamQualityIndicator-n62BFt,
.option-ayUoaq::after
{display: none;}

.form-3gdLxP {padding: 0px;} /* change the text input box to be more minimal */
.inner-NQg18Y {padding-top: 6px;
               padding-bottom: 3px;}
.channelTextArea-1VQBuV {margin-bottom: 0px;}

:root /* colors */
{
    --background-primary: #000000;
    --background-secondary: #000000;
    --background-secondary-alt: #000000;
    --background-tertiary: #000000;
    --channeltextarea-background: #000000;
    --background-accent: #000000;
    --background-message-hover: #000000;
    --background-modifier-hover: #000000;
    --background-modifier-active: #000000;
    --background-floating: #000000;
    --scrollbar-auto-thumb: #000000;
    --scrollbar-auto-track: #000000;
    --scrollbar-thin-thumb: #000000;
    --activity-card-background: #000000;}
.input-3r5zZY {background-color: #000000;}
.container-2McqkF {background-color: #030303;}
.resultsGroup-cfY57t {background-color: #000000;}
.peopleColumn-1wMU14 {background-color: #000000;}
